marvy @ git+ssh://git@github.com/gnyrd/marvy.git
google-auth
google-auth-oauthlib
google-api-python-client
python-dateutil
mailchimp3
instaloader
twy-paths @ file:///root/twy/paths
twy-classplan @ file:///root/twy/classplan
markdown
python-dotenv
